/*BODY_STYLE*/
body{
    font-family: Arial, Helvetica, sans-serif;
    background: rgb(216, 216, 216);
    margin: 0;
}


/*NAVIGATION_STYLE*/
.navigation {
    position: fixed;
    display: flex;
    justify-content:space-between;
    z-index: 1000;
    align-items: center;
    padding: 1rem 40rem 1rem 1rem;
    background-color: white;
    box-shadow: 0 0 9px 0 rgb(116, 116, 116);  
}

.navigation .nav-items {
    display: flex;
    justify-content: space-around;
    align-items: center;
      
}

.navigation .nav-items .logo a {
    font-size: 2.5rem;
    font-weight: 800;
    text-decoration: none;
    color: rgb(22, 128, 66);

}

.navigation .nav-items .logo a span {
    color: black;
}

.navigation .nav-items ul {
    display: flex;
    gap: 2rem; 
}

.navigation .nav-items ul li {
    list-style-type: none; 
    
}

.navigation .nav-items ul li a {
  text-decoration: none;
  color: black;
  font-weight: 700;
  
}

.navigation .nav-button .shop i{
    margin: 0 1rem;
    color: black;
}

.navigation .nav-button .abonner{
    display: flex;
    margin-left: 36rem;
    margin-top: 1px;
    gap: 2rem;
    align-items: center;
}

.navigation .nav-button button {
    border: none;
    padding: 1rem 3rem;
    background-color: rgb(22, 128, 66);
    color: white;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;   
}

.navigation .nav-button a{
    cursor: pointer;
    color: black;

}


/*BLOCKS_STYLE_INDEX*/
/*INDEX: blocks-1*/
#section_accueil{
    box-shadow: 0 0 10px 0 rgb(29, 29, 29);
    padding: 1px;
}

.blocks-1{
    padding-top: 7rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(255, 255, 255);
    margin-top: 0;
    padding-bottom: 2rem;
    box-shadow: 0 0 10px 0 rgb(29, 29, 29);
}

.blocks-1 .blocks-1-A h1{
    color: rgb(0, 0, 0);
    font-size: 3rem;
}

.blocks-1 .blocks-1-A h2{
    color: rgb(22, 128, 66)
    
}

.blocks-1 .blocks-1-A p{
    color: rgb(0, 0, 0);
    line-height: 25px;
    margin-bottom: 30px;
}

.blocks-1 .blocks-1-A a{
    background-color: rgb(22, 128, 66);
    color: white;
    text-decoration: none;
    padding: 15px 40px;
    border-radius: 5px;
    
}
.blocks-1 .blocks-1-B img{
    width: 25rem;
}


/*INDEX: blocks-2*/
.blocks-2 {
    margin: 1rem 0 3rem 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.blocks-2 .blocks-2-A{
    background-color: white;
    padding: 2rem 0 ;
    margin-left: 7rem;
    border-radius: 4%;
}

.blocks-2 .blocks-2-A img {
    display: flex;
    width: 15rem;
    height: auto;
}

.blocks-2 .blocks-2-B{
    background-color: white;
    border-radius: 10px;
    width:56%;
    padding: 2rem 0 4rem 0;
    margin-right: 7rem;
}

.blocks-2 .blocks-2-B h1{
    color: rgba(229, 129, 7, 0.879);
    text-decoration: underline;
    margin-left: 6rem;
}

.blocks-2 .blocks-2-B p{
    margin-left: 6rem;
    width: 35rem;
}


.blocks-2-B .blocks-2-B-img{
    margin-left: 6rem;
}

.blocks-2-B .blocks-2-B-img img{
    border: 10px solid rgb(171, 171, 171);
    border-top-right-radius: 55px;
    border-bottom-left-radius: 55px;
    width: 20%;
    height: auto;
    margin-right: 1rem;
    margin-top: 1rem;
    display: inline;
}



/*STYLE_PAGE_PRODUITS*/
#section_produits{
    padding-top: 5rem;
}

.page-produits .title h1{
    color: rgb(22, 128, 66);
    text-align: center;
}

.page-produits .produits {
    display: grid;
    grid-template-columns:  repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 2rem;
    margin: 1rem 9rem;
}

.page-produits .produits .aliment{
    box-shadow: 0  2px 2px 2px rgb(172, 172, 172);
    text-align: center;
    background-color: rgb(241, 241, 237);
    border-radius: 1rem;
    line-height: 3px;
    padding: 1rem 0 0 0;
    overflow-x: hidden;
}

.page-produits .produits .aliment img{
    background-color: white;
    width: 70%;
    height: auto;
}

.page-produits .produits .aliment h2{
    color: rgb(22, 128, 66); 
}

.page-produits .produits .aliment p{
    color: rgb(204, 204, 204);
}

/*style_etoile_sur_produits*/
.rating{
    display: flex;
    justify-content: center;
    color:rgb(22, 128, 66);
    gap: 1rem;
    margin-top: 1rem;
}

.page-produits .produits .aliment .button button{
    color: white;
    background-color: rgb(22, 128, 66);
    border: none;
    padding: 1rem 6rem;
    margin-top: 1rem;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;    
}   

/*blocks_temoignage-->*/
.background-img{
    background-image: url("../image/background.jpg");
}

.background-img .temoignage{
   background-color: rgba(0, 0, 0,0.8);

}

.background-img .temoignage .description{
    color: white;
    text-align: center;
    padding-top: 1rem;
}

 .background-img .temoignage .avis-client {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
    padding: 0rem 0 1rem 0;
    margin: 0 18rem;
}

.background-img .temoignage .avis-client .client{
    text-align: center;
    background-color: white;
    border-radius: 1rem;
    padding-top: 1rem;
    padding-bottom: 3rem;
    margin-top: 2rem;
}

.background-img .temoignage .avis-client .client img{
    width: 30%;
    height: 30%;
    border-radius: 50%;
}

.background-img .temoignage .avis-client .client h1{
    color: rgb(22, 128, 66);
}

.background-img .temoignage .avis-client .client p{
    margin: 0 1rem;
}

/*blocks_description_et_img*/
.image-produits{
    display: flex;
    margin: 2rem 1rem 7rem 1rem;
    gap: 10rem;    
}
  
.image-produits .images{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    width: 100%;
}

.image-produits .images img{
    width: 100%;
    height: auto; 
}

/*blocks_input_mail*/
.background-img_input {
    text-align: center;
    background-image: url("../image/background.jpg");
    background-color: rgba(0, 0, 0,0.8);   
}

.background-img_input .input_mail{
    background-color: rgba(0, 0, 0,0.8);
    padding: 5rem 0;
    display: flex;
    flex-direction: column;   
}

.background-img_input .input_mail .mail{
    border: none;
    padding: 1rem 1rem;
    margin: 0 20rem;
    font-size: 1rem;
    color: rgb(255, 255, 255);
}

.background-img_input .input_mail .send {
    color: white;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    background-color: rgb(22, 128, 66);
    cursor: pointer;
    padding: 1rem 0;
    margin: 0 35rem;
}



/*STYLE_PAGE_SERVICE*/
#section_service{
    padding-top: 5rem;
}
.nos_service{
    margin-bottom: 2rem;
    text-align: center;
    color: rgb(22, 128, 66);
}

.nos_service .service_items{
    display: flex;
    justify-content: space-around;
    gap: 1rem;
    padding: 0 15rem;    
}

.nos_service .service_items .service {
    border-radius: 7px;
    background-color: white;
    text-align: center;
    padding: 1rem;
    line-height: 1.5rem;
}   

.nos_service .service_items .service img{
    width: 50%;
    height: auto; 
}

.nos_service .service_items .service h1{
    text-align: center;
    color: rgb(22, 128, 66);
    font-size: 2rem;
    margin-bottom: 1rem;
}

.nos_service .service_items .service p{
    color: black;
}



/*STYLE_PAGE_SERVICE*/
#section_contact{
    padding-top: 4rem;
}
.background-img-contact {
    background-image: url("../image/background.jpg");
}

.background-img-contact .background-color-contact{
    background-color: rgb(0, 0, 0, 0.8);
}

.background-img-contact .background-color-contact h1{
    color: rgb(22, 128, 66);
    text-align: center;
    padding-top: 1rem;
}

.background-img-contact .background-color-contact .formulaire {
    display: flex;
    flex-direction: column;
    margin: 3rem 20rem 2rem 20rem;
    padding-bottom: 1rem 
}

.background-img-contact .background-color-contact .formulaire .name {
    padding: 1rem ;
    border: none; 
}

.background-img-contact .background-color-contact .formulaire .mail {
    padding: 1rem ;
    border: none;
}

.background-img-contact .background-color-contact .formulaire .commentary {
    padding:1rem 1rem 8rem 1rem ;
    border: none;
}

.background-img-contact .background-color-contact .formulaire .send {
    background-color: rgb(22, 128, 66);
    color: white;
    font-weight: bold;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    padding: 1rem;
    cursor: pointer;

}

/*contacter*/
.contact{
    background-color: rgb(0, 0, 0);
    margin-bottom: 30rem;
    padding-bottom: 1px;
}

.contact .title{
    color: white;
    display: flex;
    justify-content: space-around;
    margin: 0 1rem;   
}

.contact .desc {
    display: flex;
    justify-content: center;
    gap: 20rem;
    color: rgb(255, 255, 255);
    padding-bottom: 3rem;
}

.contact .objectif {
    text-align: left;
    width: 21%;
}

.contact .objectif h2{
    margin-left: 5rem;
}

.contact .horaire{
    text-align: center;
}

.contact .contacter{
    text-align: center;
    margin-right: 11rem;
}

/*footer*/
.contact .footer p{
    background-color: rgb(216, 216, 216);
    color: rgb(0, 0, 0);
    text-align: center;
    margin: 0 0.5rem;
    padding-top: 1rem;
}


  