# Ignorer l'environnement virtuel Python
env/

# Ignorer les fichiers compilés Python
*.pyc
*.pyo
__pycache__/

# Ignorer les fichiers de configuration de l'environnement virtuel
pyvenv.cfg

staticfiles/

code_origin/