{% extends 'base.html' %}

{% block content %}

<div class="navigation">
    <div class="nav-items">
        <div class="logo">
            <a href="index.html">
                DI<span>MS</span>
            </a>
        </div>
        
        <div class="nav-link">
            <ul>
                <li>
                    <a href="#section_accueil">Accueil</a>
                </li>
                <li>
                    <a href="#section_produits">Produit</a>
                </li>
                <li>
                    <a href="#section_service">Service</a>
                </li>
                <li>
                    <a href="#section_contact">Contact</a>
                </li>
            </ul>
        </div>
    </div>

{% endblock %}
